<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936219896016-ta63028h7ahhs6o743jabm3s063v1jqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936219896016-ta63028h7ahhs6o743jabm3s063v1jqd</string>
	<key>API_KEY</key>
	<string>AIzaSyAtax78AIyLhUjaUARX-ijYYCRyUahwYbI</string>
	<key>GCM_SENDER_ID</key>
	<string>936219896016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.visitly</string>
	<key>PROJECT_ID</key>
	<string>visitly-kiosk-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>visitly-kiosk-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936219896016:ios:beba9ff1926a7098ba96d5</string>
</dict>
</plist>